html, body {
    height: 100%;
}

body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    background-position: center;
    background-image: url("../img/background5.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

.container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 20px;
    border-left: 5px solid #292929;
    border-right: 5px solid #292929;
    border-bottom: 5px solid #292929;
    background-color: rgba(36, 36, 36, 0.9);
    color: rgb(242, 242, 242);
}

.header {
    background-color: #ce0000;
}

.thumbs img {
    width: 150px;
    height: 110px;
    margin: 10px;
    transition: all 1s;
}

.thumbs img:hover {
    transform: scale(1.1);
}

h2 {
    color: #fff694;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#about-me img {
    width: 150px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

#contact-me {
    font-size: 18px;
}

#made-with-love {
    font-size: 12px;
}

#contact-me a {
    color: #fff694;
    text-decoration: none;
}

hr {
    max-width: 200px;
    border-width: 3px;
    border-color: #F05F44; 
}

.red-color {
    color: #F05F44
}