<aside>
<h2>Contact Us</h2>
<p class="float_right"><img src="img/Judge.gif" alt="Judge Underkofler" class="img" /></p>
<p class="caption"><strong>Patrice Underkofler<br><em> Probate Judge</em></strong></p>
<div id="inner">
<p><strong>Phone:</strong>
<br />
(706)-485-5476
</p>
    
<p><strong>Fax:</strong>
<br />
(706)-485-2515
</p>
    
<p><strong>Email:</strong>
<br />
<a href="mailto:probatecourt@putnamprobate.com">probatecourt@putnamprobate.com</a>
</p>
    
<p><strong>Address:</strong>
<br />
100 South Jefferson Avenue<br />
Suite 318<br />
Eatonton, GA 31024
</p>
    
<p><strong>Need Directions? <a href="http://binged.it/1bt1849" target="_blank">Click Here</a></strong></p>
</div>
</aside>